<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mright">
          <a href="/api/login/products" id="tituloCarrito" class="mx-2"><button
              class="btnCarrito btn btn-primary"
            >Seguir Comprando</button></a>
        </li>

        <li class="nav.item mright">
          <button id="ticket" class="btnCarrito btn btn-primary">Finalizar
            Compra</button>
        </li>

        <li class="nav-item">
          <button class="btnCarrito btn btn-danger" id="logout">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="containerCard" id="containerCart"></div>