<div class="container">
  <div class="row mt-5">
    <div class="jumbotron text-center">
      <h1 class="display-4">Bienvenido a mi tienda online</h1>
      <p class="lead">Aquí encontrarás todo lo que necesitas para tus compras en
        línea</p>
      <hr class="my-4" />
      <a
        class="btn btn-primary btn-lg btn-block"
        href="/api/login"
        role="button"
      >Entrar a la tienda</a>
    </div>
  </div>
</div>